<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="../images/airport.png" width="50px" height="50px">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href='/' class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a href='/about' class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a href='/database' class="nav-link">DATABASE</a>
          </li>
          <li class="nav-item">
            <a href='/statistics' class="nav-link">STATISTICS</a>
          </li>
          <li class="nav-item">
            <a href='/login' class="nav-link">LOGIN</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header> 
    <div class="about">
      <div class="about-title">
        About Direct-Flight Airport Connections 
      </div>
      <div class="about-grid">
        <div class="about-bio">
            About Direct-Flight Airport Connections is a database for air travelers who want to look for direct flights to where they
            want to travel to from the airport they want to depart from. Once the traveler searches for their source airport and the destination airport,
            the database will show the list of direct flights available from that 
            airport to the destination. The search history in the database will store the airport information the travelers have searched
            for. Frequently traveled cities from that specific airport the passenger searched will also be stored
            for data visualization. This information will help passengers determine which routes have direct flights 
            available. 
        </div>
        <div class='about-img'>
            <img src='../images/terminal.png' style="width:600px;height:500px"/>
        </div>
        
    </div>
      
    </div>
    </body>
</html>