<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link src="react-fade-in">
    
    <!-- <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script> -->
    <!-- <script>
      $(function(){
          $('.toggle').on('click',function(){
            if($('.item').hasClass('active')) {
              $('.item').removeClass('active');
            }
            else {
              $('.item').addClass('active');
            }
          })
      });
    </script> -->
    
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="../images/airport.png" width="50px" height="50px">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href='/' class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a href='/about' class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a href='/database' class="nav-link">DATABASE</a>
          </li>
          <li class="nav-item">
            <a href='/statistics' class="nav-link">STATISTICS</a>
          </li>
          <li class="nav-item">
            <a href='/login' class="nav-link">LOGIN</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="homepage"id='homepage'>
      <FadeIn delay={500}>
        <span class="title">
            Direct-Flight Airport Connections
        </span>
      </FadeIn>
    </div>
  </body>
  <script src="script.js"></script>
</html>
