<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title><%= title %></title>
        <!-- the form awesome library is used to add icons to our form -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <!-- include the stylesheet file -->
        <link rel='stylesheet' href='stylesheets/style.css' />
	</head>
	<body>
        <header>
            <nav class="navbar">
                <img src="../images/airport.png" width="50px" height="50px">
                <ul class="nav-menu">
                <li class="nav-item">
                    <a href='/' class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href='/about' class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href='/database' class="nav-link">DATABASE</a>
                </li>
                <li class="nav-item">
                    <a href='/statistics' class="nav-link">STATISTICS</a>
                </li>
                <li class="nav-item">
                    <a href='/login' class="nav-link">LOGIN</a>
                </li>
                </ul>
                <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                </div>
            </nav>
        </header> 
		<div class="login">
			<h1>Login</h1>
			<form action="/login/auth" method="post">
				<label for="username1">
					<!-- font awesome icon -->
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username1" placeholder="Username" id="username1" required>
				<label for="password1">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password1" placeholder="Password" id="password1" required>
				<input type="submit" value="Login">
			</form>
		</div>

        <div class="signup">
			<h1>Sign Up</h1>
            <form action="/login/createUser" method="post">
                <label for="username2">
                    <!-- font awesome icon -->
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username2" placeholder="Username" id="username2" required>
                <label for="password2">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password2" placeholder="Password" id="password2" required>
                <input type="submit" value="Sign Up">
            </form>
		</div>
    <script>
        async function login() {
            username = document.getElementById("username1").value;
            password = document.getElementById("password1").value;
            const response = await fetch(`login/auth?username=${username}&password=${password}`,{
    method: 'POST'});
        }

        async function signUp() {
            username = document.getElementById("username2").value;
            password = document.getElementById("password2").value;
            const response = fetch(`login/createUser?username=${username}&password=${password}`,{
    method: 'POST'});
            
        }
    </script>
	</body>
</html>